#main {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items: center;
    background-color: #f4f4f4;
    align-content:  space-between;
    font-family: 'Trebuchet MS';
}

h1, h2, h3 {
    font-family: Georgia;
}

#img-div {
    width: 30%;
}

#image {
    display: block;
    width: 75%;
    margin: auto;
    padding: 0;
}

#img-caption {
    font-style: italic;
    font-weight: normal;
}

#tribute-info {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

#quote {
    width: 60%;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    padding: 20px;
    border-style: solid;
    border-color: #D0AC96;
}

#tribute-link {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #D0AC96; 
    border-radius: 20px;
}

#books-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
}

ul {
    display: flex;
    align-content: space-around;
    list-style-type: none;
}

li {
    margin: 20px;
}

img {
    width: 200px;
    padding: 10px;
    border: 1px solid #D0AC96
}

h2 {
    font-size: 30px;

}